{% extends "catalog/info.html" %}
{% load inplace_edit i18n %}
{% load catalogtags %}

{% block info %}
{% render_field resource "places" %}
<dt>{% trans 'Participan-t-e-s inscrit-e-s' %}</dt><dd>{{resource.participants.count}}</dd>
{% render_field resource "mixite" %}
{% render_field resource "start" %}
{% render_field resource "end" %}
<dt>{% trans 'Répétition' %}</dt><dd>{{resource.rule.get_frequency_display}}</dd>
{% if resource.end_recurring_period %}
<dt>{% trans 'Dernière occurrence' %}</dt><dd>{{resource.end_recurring_period}}</dd>
{% endif %}
{% endblock %}
