{% extends "catalog/view.html" %}

{% load staticfiles i18n l10n %}
{% load inplace_edit %}
{% load i18n lazysignup_tags %}

{% block css %}
{{block.super}}
<link href="{% static 'openlayers/openlayers3.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'catalog/map.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block source %}
<!-- the participants -->
<hr/>
<h3>{% trans "Participant-e-s" %}</h3>
<hr/>
{% if not resource.participants.exist %}
<p style="text-align:center;font-style:italics;">{% trans "Personne pour le moment..." %}</p>
{% else %}
{% for participant in resource.participants.all %}
{% with resource_type='human' resource_source='internal' resource_name=participant.username resource_description=participant.description resource_url=participant.get_absolute_url resource_tooltip=participant.description %}
{% include 'catalog/resource.html' %}
{% endwith %}
{% endfor %}
{% endif %}
<p style="text-align:center;font-style:italics;">
<a href='#' id='ap-event-signup'>{% trans "S'inscrire!" %}</a>
<div id='ap-event-signup-dialog1' style='display:none;' title='{% trans "Inscription" %}'>
{% trans "Pour t'inscrire à la rencontre, il te faut un compte sur le site. Est-ce que tu souhaites le créer maintenant ?" %}
</div> 
</p>
<hr/>
<!-- the map -->
<div id="ap-osm-map"></div>
<div style="display:none;">
<div id="marker" class="ap-osm-marker"></div>
<div id="popup" class="ap-osm-popup">
<div class='popup-header'></div>
<div class='popup-content'></div>
</div>
</div>
<!-- the calendar -->
<div id='ap-calendar'>
</div>
{% endblock %}

{% block annotations %}
<p>{% trans "Qu'as tu appris lors de cette rencontre ?" %}</p>
{% for annotation in resource.annotations.select_subclasses %}
{% include 'catalog/annotation.html' %}
{% endfor %}
<form class='annotation-form' style="display:none;">
<textarea class='form-control annotation-text'></textarea>
<button type="button" class="annotation-submit btn btn-default">{% trans 'Poster' %}</button>
</form>
<span class='annotation-add' >{% trans 'Ajouter une annotation...' %}</span>

{% endblock %}

{% block js %}
{{block.super}}
<script src="{% static 'openlayers/openlayers3.js' %}"></script>
<script src="{% static 'catalog/map.js' %}"></script>
<script src="{% static 'catalog/calendar.js' %}"></script>
<script>
var marker_data = [{
	"x" : {{ resource.geo.location.x|unlocalize }}, 
	"y" : {{ resource.geo.location.y|unlocalize }},
	"address" : '{{ resource.geo.address|escapejs }}',
	"title" : "{{ resource.name|escapejs }}",
}];
var is_lazy = {% if request.user|is_lazy_user %} 1 {% else %} 0 {% endif %} ;
$(window).load(function() {
	update_calendar("{% url 'catalog:calendar-data' pk=resource.parent.pk size="small" %}");
	initialize_map(marker_data);
});
</script>
<script>
$(window).load(function() {
	$('.annotation-add').on('click', function() {
		$(this).parent().find('.annotation-form').show();
		$(this).hide();
	});
	$('.annotation-submit').on('click',function() {
		var form = $(this).parent();
		$.ajax({
		    url: "{% url 'catalog:note-eventrange-annotation-list' %}",
		    type: "POST",
		    data: {
		    	'resource': {{resource.pk}}, 
		    	'author': {{request.user.pk}}, 
		    	'text' : $(this).parent().find('.annotation-text').val() },
		    success: function (data) {
				form.hide();
				form.parent().find('.annotation-add').show();
				form.before($(data['rendered']));	
		    },
		    error: function(data) {
		    	alert("{% trans 'Erreur, réessayez' %}");
		    }
		});
	
	});
	$('.annotation-delete').on('click',function() {
		var ann = $(this).parents('.annotation');
		$.ajax({
		    url: "{% url 'catalog:note-eventrange-annotation-list' %}" + ann.attr('pk') + "/",
		    type: "DELETE",
		    data: {
		    },
		    success: function (data) {
				ann.remove();
		    },
		    error: function(data) {
		    	alert("{% trans 'Erreur, réessayez' %}");
		    }
		});
	
	});
	// Sign up for event participation
	$('#ap-event-signup').click(function()
	{
		// if user is not registered yet, ask if she wants to register now
		if(is_lazy)
		{
			$( "#ap-event-signup-dialog1" ).dialog({
			  buttons: [
			    {
			      text: gettext("Oui"),
			      click: function() {
			        $( this ).dialog( "close" );
			        document.location.href = "{% url 'registration_register' %}?next=" + document.location.href; 
			      }
			    },
			    {
			      text: gettext("Non"),
			      click: function() {
			        $( this ).dialog( "close" );
			      }
			    }
			  ]
			});
		} else {
		// sign up
		
		
		}
	});
});

</script>

{% endblock %}

