{% extends "catalog/view.html" %}

{% load staticfiles i18n l10n %}
{% load inplace_edit %}

{% block css %}
{{block.super}}
<link href="{% static 'openlayers/openlayers3.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'catalog/map.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block source %}
<!-- the participants -->
{% for participant in resource.participants.all %}
{% with resource_type='human' resource_source='internal' resource_name=participant.username resource_description=participant.description resource_url=participant.get_absolute_url resource_tooltip=participant.description %}
{% include 'catalog/resource.html' %}
{% endwith %}
{% endfor %}
<!-- the map -->
<div id="ap-osm-map"></div>
<div style="display:none;">
<div id="marker" class="ap-osm-marker"></div>
<div id="popup" class="ap-osm-popup">
<div class='popup-header'></div>
<div class='popup-content'></div>
</div>
</div>
<!-- the calendar -->
<div id='ap-calendar'>
</div>
{% endblock %}

{% block annotations %}
<p>{% trans "Qu'as tu appris lors de cette rencontre ?" %}</p>
{% for annotation in resource.annotations.select_subclasses %}
{% include 'catalog/annotation.html' %}
{% endfor %}
<form class='annotation-form' style="display:none;">
<textarea class='form-control annotation-text'></textarea>
<button type="button" class="annotation-submit btn btn-default">{% trans 'Poster' %}</button>
</form>
<span class='annotation-add' >{% trans 'Ajouter une annotation...' %}</span>

{% endblock %}

{% block js %}
{{block.super}}
<script src="{% static 'openlayers/openlayers3.js' %}"></script>
<script src="{% static 'catalog/map.js' %}"></script>
<script src="{% static 'catalog/calendar.js' %}"></script>
<script>
var marker_data = [{
	"x" : {{ resource.geo.location.x|unlocalize }}, 
	"y" : {{ resource.geo.location.y|unlocalize }},
	"address" : '{{ resource.geo.address|escapejs }}',
	"title" : "{{ resource.name|escapejs }}",
}];
$(window).load(function() {
	update_calendar("{% url 'catalog:calendar-data' pk=resource.parent.pk size="small" %}");
	initialize_map(marker_data);
});
</script>
<script>
$(window).load(function() {
	$('.annotation-add').on('click', function() {
		$(this).parent().find('.annotation-form').show();
		$(this).hide();
	});
	$('.annotation-submit').on('click',function() {
			var form = $(this).parent();
			$.ajax({
		    url: "{% url 'catalog:note-eventrange-annotation-list' %}",
		    type: "POST",
		    data: {
		    	'resource': {{resource.pk}}, 
		    	'author': {{request.user.pk}}, 
		    	'text' : $(this).parent().find('.annotation-text').val() },
		    success: function (data) {
				form.hide();
				form.parent().find('.annotation-add').show();
				form.before($(data['rendered']));	
		    },
		    error: function(data) {
		    	alert({% trans 'Erreur, réessayez' %});
		    }
		});
	
	});
});
</script>

{% endblock %}

