{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html>
<head>
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<title>{% trans "Les apprentisseursEs" %} : {% block title %}{% endblock %}</title>
{% block css %}
<link rel="stylesheet" href="{% static 'commons/external/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'commons/external/bootstrap-theme.css' %}">
<link rel="stylesheet" href="{% static "learningers/web.css" %}" type="text/css"/>
<link rel=" stylesheet" type="text/css" href="{% static 'commons/external/jquery.joyride-2.1.css' %}">
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script src="{% static 'commons/external/jquery.js' %}"></script>
<script src="{% static 'commons/external/bootstrap.js' %}"></script>
<script src="{% static 'commons/external/jquery.cookie.js' %}"></script>
<script src="{% static 'commons/external/jquery.joyride-2.1.js' %}"></script>
<script src="{% static 'commons/external/pxem.jQuery.js' %}"></script>
<script src="{% static 'commons/ap-utils.js' %}"></script>
<script src="{% static 'learningers/learningers.js' %}"></script>
{% endblock %}
</head>
<body>

{% block content %}

<nav id='ap-headbar' class="navbar navbar-default" role="navigation">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="{% url 'home' %}"><img width="220" src="{% static 'learningers/logo1.png' %}"/></a>
 </div>
{% block headbar %}
{% endblock %}
<ul class="nav navbar-nav navbar-right">
<form id='ap-language-form' action="/i18n/setlang/" style='display:none;' method="post">
{% csrf_token %}
      <input name="next" type="hidden" value="{{request.get_full_path|safe}}" />
      <input name="language" id="ap-language" onchange="this.form.submit();"/>
</form>
<li class='dropdown'>
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
{% trans 'Langue' %}
<span class="caret"></span></a>
<ul class='dropdown-menu' role='menu'>
        {% for lang in LANGUAGES %}
        <li><a href="javascript:void(0)" onclick="$('#ap-language').val('{{lang.0}}');$('#ap-language-form').submit();">
        {% if LANGUAGE_CODE == lang.0 %}
          <b>{{ lang.1 }}</b>
        {% else %}
        {{ lang.1 }}
        {% endif %}
        </a></li>
        {% endfor %}
</ul>
<li class='dropdown'>
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
{% trans 'Aide' %}
<span class="caret"></span></a>
<ul class='dropdown-menu multi-level' role='menu'>
<li><a href="{% url 'charter' %}">{% trans 'Charte' %}</a></li>
<li class='dropdown-submenu'>
	<a href="{% url 'guide' %}" tabindex="-1">
	{% trans 'Guide' %}</a>
	<ul class='dropdown-menu'>
		<li><a href="{% url 'guide' %}">{% trans "Introduction" %}</a></li>
		<li><a href="{% url 'guide1' %}">{% trans "Les ressources" %}</a></li>
		<li><a href="{% url 'guide2' %}">{% trans "Les parcours" %}</a></li>
	</ul>
</li>
	<li><a href="{% url 'about' %}">{% trans 'À propos' %}</a></li>
</ul>
</li>
{% include 'registration/logged_in.html' %}
</ul>
</div>
</nav>
<span id='ap-content'>
{% block main %}
{% endblock %}
</span>
{% endblock %}

<div id="ap-loading"></div>

{% block joyride %}{% endblock %}

{% block js %}
<script>
{% include 'learningers/settings.js' %}
$(document).on({
    ajaxStart: function() {
    	if(!$('input').is(":focus")) {
    		$('body').addClass("loading");
    	}    
    },
    ajaxStop: function() {
    	$('body').removeClass("loading"); 
    }    
});
   $(window).load(function() {
   $('#myjoyride').joyride({ 
   	autoStart : true,
	modal:true,
	cookieMonster: true, 
	 'nextButton': false});
   });
</script>
{% endblock %}
</body>
</html>
