{% extends "learningers/base2.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
{{block.super}}
<style type="text/css">
body {
	overflow:auto;
}
</style>
{% endblock %}

{% block title %}
{% trans "Charte de l'apprentissage libre" %}
{% endblock %}

{% block body %}

<ol>
<li><b>Pas d'enfermement</b>: une personne peut interrompre un apprentissage sans préjudice, et ne peut y être contrainte par la manipulation ou l'enfermement.</li>
<li><b>Pas d'autorité</b>: l'apprentissage ne contribue à justifier ou à mettre en place aucune relation de domination, et en particulier n'a pas vocation à juger ou à classer les personnes.</li>
<li><b>Respect de l'intimité</b>: tant que cela ne contredit pas les deux points ci-dessus, 
les personnes qui le souhaitent on le droit d'établir entre elles des espaces privés, 
que ca soit sur le site des apprentisseurses ou dans les rencontres organisées,
et les autres participant.e.s du réseau doivent respecter ces espaces.
<li><b>Respect de l'information</b>: on ne divulgue pas des infos si les personnes concernées ne le souhaitent pas.</li>
</ol>

{% endblock %}