{% extends "learningers/base2.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
{{block.super}}
<style type="text/css">
body {
	overflow:auto;
}
</style>
{% endblock %}

{% block title %}
{% trans "Charte de l'apprentissage libre" %}
{% endblock %}

{% block body %}

<ol>
<li><b>Pas d'enfermement</b>: une personne peut interrompre un apprentissage sans préjudice, et ne peut y être contrainte par la manipulation ou l'enfermement.</li>
<li><b>Pas d'autorité</b>: l'apprentissage ne contribue à justifier ou à mettre en place aucune relation de domination, et en particulier n'a pas vocation à juger ou à classer les personnes.</li>
<li><b>Respect de l'intimité</b>: l'entrée dans les espaces numériques ou physiques créés sur le site des apprentisseurses est soumise au consentement de toutes et tous et les autres participant.e.s du réseau 
doivent respecter ces espaces, en particulier les règles de non-mixité choisies par des groupes de personnes dominées,
<li><b>Respect de la vie privée</b>: on ne divulgue pas des infos personnelles si les personnes concernées ne le souhaitent pas.</li>
</ol>

{% endblock %}