{% extends "learningers/base2.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
{{block.super}}
<style type="text/css">
body {
	overflow:auto;
}
</style>
{% endblock %}

{% block title %}
{% trans "Guide d'utilisation du site" %}
{% endblock %}

{% block body %}

<p>Cette page explique les premiers pas à effectuer pour se mettre à l'aise avec les apprentisseurses.</p>

<p><b>Les apprentisseurses est un répertoire de ressources d'apprentissage</b>.
De nombreux types de ressources peuvent déjà y être répertoriées : articles wiki, lieux, personnes, rencontres,
et cette liste s'allongera à l'avenir, avec l'accès aux médias vidéo, audio, etc.
L'objectif principal du site est de faciliter l'accès à ces ressources, 
et de mettre à disposition des outils numériques faciles d'utilisation
pour les personnes qui pratiquent l'apprentissage libre.
</p>

<p><b>Apprendre et enseigner librement, contre l'éducation, ses dictats, et ses prisons</b>.
Les apprentisseurses est aussi un site politisé 
développé et animé par des êtres humains qui souhaitent radicalement transformer le rapport à l'apprentissage.
Nous avons été à l'école imposée par "l'éducation nationale" et nous en sommes ressorties dégoûtés et en colère
contre la violence de ce système qui enferme et abîme psychologiquement les êtres en profondeur.
</p>

<p><b>Refusons d'être éduquées: nous n'en avons ni besoin ni envie.</b>
 À notre époque où les crimes à répétition de l'impérialisme et du prosélytisme culturel ont été clairement démasqués,
il est choquant que la confusion réactionnaire entre éducation et apprentissage reste aussi prégnante,
à tel point que nombre de personnes croient encore défendre une société plus juste en défendant l'éducation nationale.
Il est urgent d'en finir avec ces malentendus, 
et de réaffirmer que ce sont bien l'enseignement et l'apprentissage qui sont nos armes contre l'oppression
et pour la justice sociale,
tandis que l'éducation n'est qu'un cheval de Troie impérialiste qui s'est imiscé dans nos vies.
</p>

<p><b>Oui à l'apprentissage et à l'enseignement libres et gratuits pour tout.e.s.</b></p>
<p><b>On veut du fric pour nos écoles, pas des flics dans nos cerveaux.</b></p>
<p><b>Contre les diplômes, les notes, l'enfermement scolaire et les violences faites aux enfant.e.s.</b></p>
<p><b>Contre toutes les discriminations âgistes.</b></p>

<p>Suite du guide:<a href="{% url 'guide1' %}">les ressources</a>.</p>
 
 {% endblock %}