{% load i18n %}
{% load staticfiles %}
{% load inplace_edit %}

<div class='ap-tabs' style='display:none;'>
	<ul>
		<li><a href='#ap-info-tab'>Info</a></li>
		<li><a href='#ap-versions-tab'>Versions</a></li>
	</ul>
	<div id='ap-versions-tab' style='display:none;'>
	{% for version in versions %}
		<a href="{{ resource.get_absolute_url }}?rev={{version.pk }}">{{ version.revision.date_created | date:"SHORT_DATETIME_FORMAT" }} </a> ({{ version.revision.user }}) :
		<br>
		{{ version.revision.comment }}
		{% endfor %}
	</div>
	
	<div id='ap-info-tab'>		
		{% with 'catalog/info/'|add:resource.resource_type|add:'.html' as entry_info %}
		{% include entry_info %}
		{% endwith %}
	</div>
</div>

<script>
$(function() {
	$('.ap-tabs').tabs({ active: 0 });
	$('.ap-tabs').show();
});

</script>