#ap-osm-map {
    border: 1px solid #ccc;
	position:relative;
	margin:0.5em;
	width:27em;
	height:21em;
	left:0em;
}

.ap-annotation-edit {

}

#ap-calendar {
	border : 1px solid black;
	position:relative;
	margin:0.5em;
	width:27em;
	height:21em;
	left:28em;
	top:-21.5em;
}

#ap-calendar td {
	background: #eeeeee;
	font-size:80%;
}

#ap-calendar .eventheader {
	background: #ffeeeeee;
}