{% extends "catalog/view.html" %}

{% load staticfiles i18n l10n %}
{% load inplace_edit %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'catalog/wikimediaarticle/web.css' %}" />
<link rel="stylesheet" href="{% static 'annotator/annotator.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'annotator/annotator-marginviewer.css' %}" type="text/css"/>
{% endblock %}
{% block source %}
{{ resource.data.wiki_html|safe }}
{% endblock %}

{% block annotations %}
{% endblock %}

{% block js %}
{{block.super}}
<script src="{% static 'annotator/showdown.js' %}"></script>
<script src="{% static 'annotator/annotator-full.js' %}"></script>
<script src="{% static 'annotator/annotator.marginviewer.js' %}"></script>
<script>
setup_csrf_ajax();
jQuery(function ($) {
    $('#ap-source-container').annotator({}).annotator('setupPlugins', {},
                  { Tags: false, AnnotateItPermissions: false, Permissions: false, Auth: false, Filter: false, Store: {
      // The endpoint of the store on your server.
      prefix: '/catalog/annotations/written/htmlrange/', // for loading contents
      loadFromSearch: {
        resource: {{ resource.pk }}
      },
      urls:{
	    // These are the default URLs.
	    create:  '',
	    read:    ':id/',
	    update:  ':id/',
	    destroy: ':id/',
	    search:  ''
  	},
      // Attach the csrf_token
      annotationData: {
        resource: {{ resource.pk }},
        csrfmiddlewaretoken: $.cookie('csrftoken'),
      },
   
    }}).annotator('addPlugin','MarginViewer')
});
</script>
{% endblock %}

