{% extends "catalog/view.html" %}

{% load staticfiles i18n l10n %}
{% load inplace_edit %}
{% load lazysignup_tags %}
{% block css %}
{{block.super}}
{% endblock %}

{% block source %}
{# embed pad #}
<iframe id='ap-pad' src="{{ resource.get_embed_url }}?alwaysShowChat=true&showLineNumbers=false&lang={{ LANGUAGE_CODE }}{% if request.user.is_authenticated and not request.user|is_lazy_user %}&userName={{ request.user.username }}{%endif%}" width="95%" height="95%"></iframe>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
	//load_annotations("{{ resource.get_api_url }}");
	$('#ap-rightbar').css({width:0});
	$('#ap-pad').css({height:$(window).height()-$('#ap-headbar').outerHeight()-10});
	$('#ap-source-container').show();
});

$(window).resize(function() {
	$('#ap-pad').css({height:$(window).height()-$('#ap-headbar').outerHeight()-10});
});
</script>
{% endblock %}

