{% load i18n %}
{{search_form.media}}
<form method="GET" id="ap-big-searchform" class="ap-searchform" action="{% url 'catalog:search' %}">  
	{{ search_form.q.label_tag }} {{ search_form.q }}
	{{ search_form.a.label_tag }} {{ search_form.a }}
	{{ search_form.t.label_tag }}
<input id='ap-recurrence-input' name="d" value="" />
<div id='ap-recurrence-container'>
{{ search_form.t }}
</div>
<button type="submit">{% trans 'Apprendre!' %}</button>
</form>
<script>
$(window).load(function() {
	$('#ap-recurrence-input').on('focus', function() {
		var pos = $('#ap-recurrence-input').position();
		var height = $('#ap-recurrence-input').outerHeight();
		$('#ap-recurrence-container').css({top:pos.top + height, left:pos.left});
		$('#ap-recurrence-container').show(); 
	});
});
</script>
