{% load i18n %}
{% load bootstrap3 %}
{{search_form.media}}
<form method="GET" id='ap-searchform' class="navbar-form {{ form_position }} ap-searchform" role="search" action="{% url 'catalog:search' %}">  
	{% bootstrap_field search_form.q layout='inline' %}
	{% bootstrap_field search_form.a layout='inline' %}
<span id='ap-recurrence-focus'>
	{% bootstrap_field search_form.d layout='inline' %}
<div id='ap-recurrence-container'>
<div class="panel panel-default">
  <div class="panel-body">
{{ search_form.t }}
  </div>
</div>
</div>
</span>
{% buttons %}
<button type="submit" id='ap-small-searchform-submit' class="btn btn-primary">{% trans 'Apprendre!' %}</button>
{% endbuttons %}
</form>
<script>
$(document).ready(function() {
	$("#d").prop("readonly", true);
	$('#ap-recurrence-focus').on('click', function() {
			var pos = $('#d').position();
			var height = $('#d').outerHeight();
			$('#ap-recurrence-container').css({top:pos.top + height, left:pos.left});
			$('#ap-recurrence-container').show(); 
	});	
});

$(document).mouseup(function (e)
{
    var container = $('#ap-recurrence-focus');

    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0 // ... nor a descendant of the container
        && $('html').has(e.target).length > 0) // but a descendent of html node, not a scrollbar
    {
       $('#ap-recurrence-container').hide();
    }
});

function capitalize(string) {
        return (
            string.charAt(0).toUpperCase() +
            string.slice(1, string.length));
}

function decapitalize(string) {
        return (
            string.charAt(0).toLowerCase() +
            string.slice(1, string.length));
}
    
function recurrence_widget_updated() {
	var dval = '';
	$('.header a.recurrence-label').each(function(index) {
		var incr = $(this).html();
		if(index == 0)
			dval = incr
		else
			dval = dval + ', ' + decapitalize(incr);
		
	});
	$('#d').val(dval);	
}

if(recurrence)
	recurrence.set_listener(recurrence_widget_updated);
	
</script>
