{% load i18n %}
{{search_form.media}}
<form method="GET" id='ap-small-searchform'  class="ap-searchform" action="{% url 'catalog:search' %}">  
	{{ search_form.q }}
	{{ search_form.a }}
<input id='ap-recurrence-input' name="d" value="" />
<div id='ap-recurrence-container'>
{{ search_form.t }}
</div>
<button type="submit" id='ap-small-searchform-submit'>{% trans 'Apprendre!' %}</button>
</form>
<script>
$(document).ready(function() {
	$('#q').data('init',"{% trans 'Quoi?' %}");
	$('#a').data('init',"{% trans 'Où?' %}");
	if(!$('#q').val()) {
		$('#q').val($('#q').data('init'));
	}
	if(!$('#a').val()) {
		$('#a').val($('#a').data('init'));
	}
	$('#ap-recurrence-input').val("{% trans 'Quand?' %}");
	$('#q,#a').on('focus', function() { if(this.value == $(this).data('init')) { this.value = '';} });
	$('#ap-recurrence-input').on('focus', function() {
			var pos = $('#ap-recurrence-input').position();
			var height = $('#ap-recurrence-input').outerHeight();
			$('#ap-recurrence-container').css({top:pos.top + height, left:pos.left});
			$('#ap-recurrence-container').show(); 
		});
});

</script>
