
/* Catalog left vertical sidebar */
#ap-sidebar {	
	position:fixed;
	left:0;
	width:19em;
	top:2.5em;
	overflow:auto;
	padding:0.5em;
}
	
/* List of search results */
#ap-panel {
	position:absolute;
	margin-left:20em;
	top:0em;
	overflow-y:auto;
	overflow-x:hidden;
	padding-right:1em;
}

/* Toolbars */
.ap-button-image {
	width:2em;
	height:2em;
	border:1px solid white;
}

.ap-button-image:hover {
	border:1px solid black;
}

/* recurrence */
#ap-recurrence-container {
	display:none;
	position:absolute;
}


/* Search form */
.ap-searchform button {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #0000FF;
    text-align: center;
    width: 10em;
    height:1.8em;
}

#ap-small-searchform > input {
	width:7em;
}		

#ap-small-searchform {
	display:inline-block;
	padding:0.3em;	
	margin-top:0.2em;
	position:absolute;
}

/* Toolbar */
#ap-resource-toolbar {
	padding-top:0.3em;
	position: absolute;
	right: 0em;
	top: 0em;
	width: 2.2em;
}

.ap-resource-info h1 {
	font-size:200%;
	margin:0.2em;
}

.ap-resource-info ul {
	list-style-type: none;
	padding-left:0;
	margin-left:0;
}

/* Resource type selection when creating new resource */
div.ap-select-resource-icon {
	text-align:center;
	height:100px;
	width:100px;
	display:inline-block;
}

/* Resource link display */
.ap-resource, .ap-select-resource-type {
	vertical-align:middle;
	width: 13.3em;
	height: 10.6em;
	display: inline-block;
	text-align:center;
	border:1px solid black;
	border-radius:0.5em;
	padding:1px;
	overflow:visible;
	background: solid white;
	position:relative;
	margin-top:0.16em;
	margin-bottom:0.16em;
	margin-left:0.06em;
	margin-right:0.06em;
}

.ap-resource:hover, .ap-select-resource-type:hover {
    zoom: 1.02;
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
}

.ap-resource-title {
/*	width:11.6em; */
	margin-left:0.3em;
	margin-right:1.5em;
	height:1.1em;
	margin-top:0.3em;
	text-align:left;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.ap-resource-title > a:link {
	color:#0000ff;
}

.ap-resource-title > a:visited {
	color:#0000aa;
}

.ap-resource-title > a:hover {
	color:#ff00ff;
}

.ap-resource-description {
	font-size:80%;
	padding-left:0.5em;
	padding-right:0.5em;
	text-align:justify;
	margin-top:0.3em;
	overflow:hidden;
	height:75%;
}

.ap-resource-description > img {
	width:90%;
	max-height:9em;
	margin-left:5%;
	position:relative;
	display:block;
	border:1px solid black;
}

.ap-resource > a {
	color:black;
	text-decoration:none;
}

div.ap-resource-logo {
	height:1.5em;
	width:1.5em;
	position:absolute;
	top:0px;
	right:0px;
	display:block;
	z-index:100;
}

/* Resource tooltips */
.ap-resource-tooltip {
	display: none;
}

 .ap-resource-tooltip-inner {
	font-size:80%;
}

/* Annotation bar */
#ap-rightbar {
	position:absolute;
	width:15em;
	top:0em;
	right:0.5em;
	height:100%;
	overflow:visible;
	display:none;
}

/* Resource display panel */
#ap-source-container {
	display:none;
	overflow:visible;
}

/* Tabs */
#ap-tabs {
	width:16em;
	height:95%;
}
