{% extends "learningers/base2.html" %}
{% load i18n %}
{% load inplace_edit %}
{% load staticfiles %}

{% block title %}
{% trans 'Profil de ' %} {{ object.user.username }}
{% endblock %}

{% block body %}
	<ul>
<li>{% trans 'Pseudonyme' %} : {% inplace_edit "object.user.username" adaptor="text" %}</li>
<li>{% trans 'Prénom' %} : {% inplace_edit "object.user.first_name" adaptor="text" %}</li>
<li>{% trans 'Nom' %} : {% inplace_edit "object.user.last_name" adaptor="text" %}</li>
{% if object.user.human_set.exist %}-
<li>{% trans 'Ressources' %} :
<ul>
{% for human in object.user.human_set.all %}
<a href="{{human.get_absolute_url}}">{{human.parent.name}}</a>
{% endfor %}
</ul>
</li>
{% endif %}
</ul>
{% endblock %}

{% block js %}
{{ block.super }}
{% inplace_js 1 0 %}
{% endblock %}

