{% extends "catalog/view.html" %}

{% load staticfiles i18n l10n %}
{% load inplace_edit %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'catalog/feed/web.css' %}" />
{% endblock %}
{% block source %}
<table class='table table-striped'>
{% for entry in resource.entries %}
<tr>
<td>{{entry.datetime|date:"DATETIME_FORMAT"}}</td><td><a href="{{entry.feedentry_url}}">{{ entry.title }}</a></td><td>{{ entry.description|safe }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}

{% block annotations %}
{% endblock %}

{% block js %}
{{block.super}}
{% endblock %}

