{% extends "catalog/base.html" %}
{% load i18n staticfiles %}
{% load inplace_edit %}
{% block title %}
{% trans "Ajout d'un(e)" %} {{user_friendly_type}}
{% endblock %}

{% block css %}
{{block.super}}
{{form.media.css}}
{% endblock %}

{% block headbar %}
{% endblock %}

{% block main %}
<div class='ap-ui-frame'>
<div class='ap-ui-text'>
<h2>{% trans "Ajout d'un(e)" %} {{user_friendly_type}}</h2>
{% block intro %}
{% endblock %}
<form id='ap-create-form' action='.' method="POST" style="display:none;">
{% csrf_token %}
<ol>
{{form.as_ul}}
<li><button type="submit">{% trans 'Créer!' %}</button></li>
</ol>
</form>
</div>
</div>
{% endblock %}

{% block js %}
{{block.super}}
{{form.media.js}}
<script>
$(document).ready(function() {
//	$('#ap-create-form li').slice(1).hide();
//	$('#ap-create-form button').hide();
//	for(var i = 0; i < $('#ap-create-form li').length; i++)
//	{ 
//		$('#ap-create-form li').eq(i).on('change',function() {
//			$(this).next().show();
//		});
//	}
	$('#ap-create-form').show();
});
</script>
{% endblock %}
