/*************************************
 --------MAIN INTERFACE LAYOUT-------
 *************************************/

body {
	padding:0;
	margin:0;
	font-family:sans-serif;
}

/* Upper navigation bar */
#ap-headbar { 
	position:fixed;
	width:100%;
	height:2.5em;
	overflow:visible;
	z-index:10000;
	background:#AAAAAA;
}

/* Everything except upper bar*/
#ap-content {
	position:fixed;
	width:100%;
	overflow:visible;
	top:2.5em;
}

/* Catalog left vertical sidebar */
#ap-sidebar {	
	position:fixed;
	left:0;
	width:19em;
	top:2.5em;
	overflow:auto;
	padding-left:0.5em;
	padding-right:0.5em;
}


/********************************************
 ---------- FORMS & CONTROLS ----------------
********************************************/
input { 
	border: 1px solid #5555FF;
	height:1.5em;
}

/* An element in the headbar */
.ap-headbar-element {
	float:right;
	display:inline;	
	text-align:right;
	padding:0.3em;
	margin-top:0.2em;
}
		
/* Language selector */
#ap-language-selector {
/*	width:10em; */
}

.ap-headbar-button { display:inline-block; }
.ap-headbar-button:hover { background: #0000bb !important; }
.ap-headbar-button:hover a { color: #3f6998; }

/**************************************
---------------HOMEPAGE---------------- 
***************************************/

#ap-main-title {
	text-align:center;
}

#ap-main-subtitle {
	text-align:center;
}

#ap-big-searchform input {
    border: 1px solid #5555FF;
    padding: 0.2em;
}

#ap-big-searchform button {
    display: block;
    margin-left: 45%;
    margin-top: 1em;
}

/****************************************
------------- ANIMATIONS-----------------
*****************************************/

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#ap-loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   ap-loading element will be visible */
body.loading #ap-loading {
    display: block;
}
