/*************************************
 --------MAIN INTERFACE LAYOUT-------
 *************************************/

body {
	padding:0;
	margin:0;
	font-family:sans-serif;
}

/* Everything except upper bar*/
#ap-content {
	width:100%;
}

/********************************************
 ---------- FORMS & CONTROLS ----------------
********************************************/

.helptext {
	font-size:90%;
	color: #111111;
}

.navbar-brand {
	padding:5px;
}

/**************************************
---------------HOMEPAGE---------------- 
***************************************/

#ap-main-title {
	text-align:center;
}

#ap-main-subtitle {
	text-align:center;
}

#ap-searchform input {
    width:15em !important;
    display:inline;
}

/****************************************
------------- ANIMATIONS-----------------
*****************************************/

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#ap-loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   ap-loading element will be visible */
body.loading #ap-loading {
    display: block;
}

/******************************************
------------- FORMS ----------------------
*******************************************/

.panel-body {
	padding:0.2em;
}

.navbar {
	margin-bottom:0.2em;
}

.navbar-right {
	margin-right:0px;
}