{% extends "learningers/base.html" %}
{% load i18n %}
{% load inplace_edit %}
{% load staticfiles %}
{% block title %}
{{ resource.name }}
{% endblock %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static "catalog/web.css" %}" type="text/css"/>
{% inplace_css 0 %}
{% endblock %}

{% block headbar %}
{% include "catalog/search/small_form.html" %}
{% endblock %}

{% block main %}
	<div id="ap-sidebar">
	{% block sidebar %}
	{% endblock %}
	</div>
	
	<div id="ap-panel">
		{% block entries %}
		<div class='resource'>
		{% trans 'Ajouter du contenu ici!' %}
		</div>
		{% endblock %}
	</div>
	
<div id='confirm-delete' style='display:none;'>
{% trans "Voulez-vous vraiment supprimer cette entrée du catalogue?" %}
</div>
<div id='success-delete' style='display:none;'>
{% trans "L'entrée a bien été supprimée. Vous allez être redirigé vers la page d'accueil" %}
</div>
	
{% endblock %}

{% block js %}
{{block.super}}
<script src="{% static 'ap-utils.js' %}"></script>
<script src="{% static 'catalog/catalog.js' %}"></script>
{% inplace_js 1 0 %}
{% endblock %}
