{% extends "catalog/base.html" %}
{% load i18n staticfiles %}
{% load inplace_edit bootstrap3 %}
{% block title %}
{% trans "Ajout d'un(e)" %} {{user_friendly_type}}
{% endblock %}

{% block css %}
{{block.super}}
{{form.media.css}}
{{form.media.js}}
{% endblock %}

{% block headbar %}
{% endblock %}

{% block main %}
<div style="text-align:center;">
<div class="panel panel-default" style="margin:1em;text-align:left;">
<div class='panel-heading'>
{% trans "Ajout d'un(e)" %} {{user_friendly_type}}
{% block intro %}
{% endblock %}
</div>
<div class='panel-body' style="padding:1em;">
<form id='ap-create-form' action='.' method="POST" style="display:none;" enctype="multipart/form-data">
{% csrf_token %}
<input type="hidden" name="next" value="{{ parent.get_absolute_url }}"/>
{% bootstrap_form form %}
{% buttons %}
<button type="submit" class="btn btn-default">{% trans 'Créer!' %}</button>
{% endbuttons %}
</form>
</div>
</div>
</div>
{% endblock %}

{% block js %}
{{block.super}}
<script>
$(document).ready(function() {
//	$('#ap-create-form li').slice(1).hide();
//	$('#ap-create-form button').hide();
//	for(var i = 0; i < $('#ap-create-form li').length; i++)
//	{ 
//		$('#ap-create-form li').eq(i).on('change',function() {
//			$(this).next().show();
//		});
//	}
	$('#ap-create-form').show();
});
</script>
{% endblock %}
