{% load inplace_edit %}
{% load i18n %}
{% load staticfiles %}
<div class='ap-resource-info'>
<h1>{% inplace_edit "resource.name" %}</h1>
<ul>
<li>
<script src="{% static 'commons/external/tinymce/tinymce.min.js' %}"></script>
{% trans 'Ajouter une description...' as add_desc %}
{% inplace_edit "resource.description" adaptor="html", edit_empty_value=add_desc %}
</li>
<li>{% trans 'Langue(s)' %} : {% for lang in resource.languages.all %} {{ lang }} {% endfor %}</li>
{% if resource.parent %}
<li>{% trans 'Parcours' %} : <a href="{{ resource.parent.get_absolute_url }}">{{ resource.parent }}</a></li>
{% endif %}
<li>{% trans 'Voir aussi' %} : {% for link in resource.see_also.select_subclasses.all %} <a href="{{ link.get_absolute_url }}">{{ link.name }}</a>{% endfor %}</li>
{% block info %}
{% endblock %}
</div>