{% load i18n %}
{% load staticfiles %}
{% load inplace_edit %}

<div id='ap-tabs'>
	<div class='ap-tab' id='ap-versions-tab' style='display:none;'>
	<h2>{% trans 'Versions précédentes' %}</h2>
	{% for version in versions %}
		<a href="{{ resource.get_absolute_url }}?version={{version.pk }}">{{ version.revision.date_created | date:"SHORT_DATETIME_FORMAT" }} </a> ({{ version.revision.user }}) :
		<br>
		{{ version.revision.comment }}
	{% endfor %}
	</div>
	
	<div class='ap-tab' id='ap-charter-tab' style='display:none;'>	
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		{% for category in comment_categories %}
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="heading{{forloop.counter0}}">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter0}}" aria-expanded="true" aria-controls="collapse{{forloop.counter0}}">
		          {% trans category.name %}
		        </a>
		      </h4>
		    </div>
		    <div id="collapse{{forloop.counter0}}" clas0s="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{forloop.counter0}}">
		      <div class="panel-body">
		      {% for comment in category.queryset %}
				{% include 'catalog/comment.html' %}
		      {% endfor %}
		      <form class='comment-form' style="display:none;">
				<textarea class='form-control comment-text'></textarea>
				<select class='form-control comment-colour'>
				{% for colour in resource.comments.model.COLOUR_CHOICES %}
				<option value="{{colour.0}}">{{colour.1}}</option>
				{% endfor %}
				</select>
				<button type="button" data-category='{{forloop.counter0}}' class="comment-submit btn btn-default">{% trans 'Poster' %}</button>
			  </form>
		      <span class='comment-add' >{% trans 'Ajouter un commentaire...' %}</span>
		
		      </div>
		    </div>
		  </div>
		{% endfor %}  
		</div>
	</div>

	<div class='ap-tab' id='ap-info-tab'>	
		{% with 'catalog/'|add:resource.resource_type|add:'/info.html' as resource_info %}
		{% include resource_info %}
		{% endwith %}
	</div>
</div>

<script>
$(window).load(function() {
	$('.comment-add').on('click', function() {
		$(this).parent().find('.comment-form').show();
		$(this).hide();
	});
	$('.comment-submit').on('click',function() {
			var form = $(this).parent();
			$.ajax({
		    url: "{% url 'catalog:comment-data' %}",
		    type: "POST",
		    data: {
		    	'resource': {{resource.pk}}, 
		    	'author': {{request.user.pk}}, 
		    	'category': $(this).attr('data-category'),
		    	'colour': $(this).parent().find('.comment-colour').val(),
		    	'text' : $(this).parent().find('.comment-text').val() },
		    success: function (data) {
				form.hide();
				form.parent().find('.comment-add').show();
				form.before($(data['rendered']));
		    },
		    error: function(data) {
		    	alert({% trans 'Erreur, réessayez' %});
		    }
		});
	
	});
});
</script>