{% extends "catalog/base.html" %}
{% load staticfiles %}
{% load inplace_edit %}
{% load i18n %}

{% block css %}
{{block.super}}
 <link rel="stylesheet" href="{% static 'catalog/'|add:resource.resource_type|add:'/web.css' %}" type="text/css"/>
 {% inplace_css 0 %}
{% endblock %}

{% block sidebar %}
<div id='ap-resource-toolbar'>
	<div class='ap-button' id='ap-delete-button'>
	<a href='javascript:delete_resource("{% url 'catalog:resource-data' pk=resource.pk %}");'><img class='ap-button-image' src='{% static 'catalog/toolbar-icons/delete.png' %}' title='{% trans "Supprimer cette ressource" %}'/></a>
	</div>
	<div class='ap-button' id='ap-add-button'>
	<a href='{% url 'catalog:resource-create' %}'><img class='ap-button-image' src="{% static 'catalog/toolbar-icons/add.png' %}" title='{% trans "Ajouter une ressource du même type" %}'/></a>
	</div>
	<div class='ap-button' id='ap-versions-button'>
	<a href="javascript:switch_tabs(1)"><img class='ap-button-image' src="{% static 'catalog/toolbar-icons/versions.png' %}" title='{% trans "Voir les version précédentes de cette ressource" %}'/></a>
	</div>
	<div class='ap-button' id='ap-charter-button'>
	<a href="javascript:switch_tabs(2)"><img class='ap-button-image' src="{% static 'catalog/toolbar-icons/charter.png' %}" title="{% trans "Voir l'adéquation de cette ressource avec la charte" %}"/></a>
	</div>
{% block resource-toolbar %}
{% endblock %}
</div>
{% include 'catalog/sidebar.html' %}
{% endblock %}

{% block entries %}
<div id='ap-source-container'>
{% block source %}
{% endblock %}
</div>

<div id='ap-rightbar' class='secondary'>
<div id='annotations'>
{% block annotations %}
{% endblock %}
</div>
</div>
<div id='confirm-delete' style='display:none;'>
{% trans "Voulez-vous vraiment supprimer cette entrée du catalogue?" %}
</div>
<div id='success-delete' style='display:none;'>
{% trans "L'entrée a bien été supprimée. Vous allez être redirigé vers la page d'accueil" %}
</div>
{% endblock %}

{% block js %}
{{block.super}}
{% inplace_js 1 0 %}
<script>
setup_csrf_ajax();
</script>
{% endblock %}

